
<table class="tablaRutinas">
    <tbody>
      <tr *ngFor="let rutina of rutinas">
        <div class="fila">
          <div class="casilla">
            Nombre
          </div>
          <div class="casilla">
            Duración
          </div>
          <div class="casilla">
            Dificultad
          </div>
          <div class="casilla">
            <button type="button" class="col-auto btn btn-outline-primary" (click)="editarRutina(rutina)"><i class="bi bi-pencil-fill"></i></button>
            <button type="button" class="col-auto btn btn-outline-danger" (click)="eliminarRutina(rutina.id)"><i class="bi bi-trash-fill"></i></button>
          </div>
        </div>
      </tr>
    </tbody>
  </table>