body{
    margin: 0;
}

.cajaPrincipal{
    height: 100vh;
    display: flex;
}

.containerPrincipal {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 0%;
}

.barraLateral{
    padding:20px;
    box-sizing: border-box;
    flex-basis: 20%;
    background-color: lightblue;
    display:flex;
    flex-direction: column;
    
}

.barraSuperior{
    background-color: lightsalmon;
    flex: 1;
}

.cuadradoPrincipal{
    flex: 6;
    background-color: lightcyan;
}
/* Estilos para el botón */
.boton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Estilos al pasar el cursor */
.boton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos al hacer clic */
.boton:active {
    background-color:   #ffffff;
    border-color: #ffffff;
}

.navegador{
    display: flex; 
    flex-direction: column;
    margin: 10px;
    ;
    flex-basis: 100%;
}


.foto{
    height: 100px;
    width: 100px;
    background-color: #fff;
    margin: 0 auto;
}
