<body>

  <div class = "cajaPrincipal">

    <div class="barraLateral">
      <button class="button" type="menu">Buenas</button>
      <button class="button" type="menu">Buenas</button>
      <button class="button" type="menu">Buenas</button>
      <button class="button" type="menu">Buenas</button>
      <button class="button" type="menu">Buenas</button>
      <button class="button" type="menu">Buenas</button>
      <button class="button" type="menu">Buenas</button>
      <button class="button" type="menu">Buenas</button>
    </div>

    <div class="container">

      <div class="barraSuperior">
        Barra superior
      </div>

      <div class="cuadradoPrincipal">
        <table class="tablaCliente">
          <head>

            <tr>
              <th>hola</th>
              <th>hola</th>
              <th>hola</th>
              <th>hola</th>
              <th>hola</th>
              <th>hola</th>
            </tr>
            
          </head>

          <tbody>
            <tr>
              <td>ejemplo</td>
              <td>ejemplo</td>
              <td>ejemplo</td>
              <td>ejemplodddddddddddddddddddddddd</td>
              <td>ejemplo</td>
              <td>ejemplo</td>
            </tr>
          </tbody>
        </table>
      </div>  

    </div>
    
  </div>

</body>