<body>

  <div class = "cajaPrincipal">

    <div class="barraLateral">
      <div class="foto"></div>
      <nav class="navegador">
        <a class="boton" routerLinkActive="active" routerLink ="/rutinas">Rutinas</a>
        <a class="boton" routerLinkActive="active" routerLink ="/ejercicios">Ejercicios</a>
      </nav>
    </div>

    <div class="container">

      <div class="barraSuperior">
        Barra superior
      </div>

      <div class="cuadradoPrincipal">
        <router-outlet></router-outlet>
      </div>  

    </div>
    
  </div>

</body>