body{
    margin: 0;
}

.cajaPrincipal{
    height: 100vh;
    background-color: brown;
    box-sizing: border-box;
}

.cajaSuperior{
    background-color: lightsalmon;
    height: 5%;
}

.container {
    display: flex;
    height: 95%;
    box-sizing: border-box ;
}



.lateral{
    flex: 1;
    background-color: lightblue;
}
.cuadradoPrincipal{
    background-color: lightcyan;
    color: lightgreen;
    flex: 6;
}