<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ accion }} ejercicio</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input class="form-control" id="nombre" [(ngModel)]="ejercicio.nombre" placeholder="indique el nombre del ejercicio...">
    <label for="descripcion">Descripción</label>
    <input class="form-control" id="descripcion" [(ngModel)]="ejercicio.descripcion" placeholder="introduzca una descripción breve...">
    <label for="observaciones">Observaciones</label>
    <input class="form-control" id="observaciones" [(ngModel)]="ejercicio.observaciones" placeholder="introduzca alguna observación...">
    <label for="tipo">Tipo:</label>
    <select class="form-control" id="tipo" [(ngModel)]="ejercicio.tipo" placeholder="seleccione tipo de ejercicio...">
      <option value="Fuerza">Fuerza</option>
      <option value="Hipertrofia">Hipertrofia</option>
      <option value="Resistencia">Resistencia</option>
      <option value="Flexibilidad">Flexibilidad</option>
    </select>
    <label for="musculosTrabajados">Músculos Trabajados:</label>
    <input class="form-control" id="musculosTrabajados" [(ngModel)]="ejercicio.musculosTrabajados" placeholder="indique los músculos trabajados...">
    <label for="material">Material:</label>
    <input class="form-control" id="material" [(ngModel)]="ejercicio.material" placeholder="indique los materiales necesarios...">
    <label for="dificultad">Dificultad:</label>
    <select class="form-control" id="dificultad" [(ngModel)]="ejercicio.dificultad" name="dificultad" placeholder="seleccione la dificultad del ejercicio...">
      <option value="facil">Fácil</option>
      <option value="media">Media</option>
      <option value="dificil">Difícil</option>
    </select>
    <label for="multimedia">Enlace del video (enlaces separados entre comas):</label>
    <input class="form-control" id="multimedia" [(ngModel)]="ejercicio.multimedia" placeholder="ingrese el enlace de los videos...">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarEjercicio()">Guardar</button>
</div>
