<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} contacto</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
      <label for="nombre" > Nombre</label>
      <input class="form-control" id="nombre" [(ngModel)]="ejercicio.nombre" placeholder="">
      <label for="descripcion">Descripcion</label>
      <input class="form-control" id="descripcion" [(ngModel)]="ejercicio.descripcion" placeholder="">
      <label for="tipo">Tipo:</label>
      <input class="form-control" id="tipo" [(ngModel)]="ejercicio.tipo" placeholder="">
      <label for="musculosTrabajados">Musculos Trabajados:</label>
      <input class="form-control" id="musculosTrabajados" [(ngModel)]="ejercicio.musculosTrabajados" placeholder="">
      <label for="marterial">Marterial:</label>
      <input class="form-control" id="marterial" [(ngModel)]="ejercicio.marterial" placeholder="">
      <label for="dificultad">Dificultad:</label>
      <select class="form-control" id="dificultad" [(ngModel)]="ejercicio.dificultad" name="dificultad">
        <option value="facil">Fácil</option>
        <option value="media">Media</option>
        <option value="dificil">Difícil</option>
      </select>
      <label for="multimedia">Multimedia:</label>
      <input class="form-control" id="multimedia" [(ngModel)]="ejercicio.multimedia" placeholder="">

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarContacto()">Guardar</button>
</div>
