<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} rutina</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrarVentana(rutina.id)"></button>
  </div>
  <div class="modal-body">  
    <div class="form-group">

        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" [(ngModel)]="rutina.nombre" placeholder="Asigne un nombre a la rutina...">
        <label for="descripcion">Descripcion:</label>
        <input class="form-control" id="descripcion" [(ngModel)]="rutina.descripcion" placeholder="Añada una descripción...">
        <label for="observaciones">Observaciones:</label>
        <input class="form-control" id="observaciones" [(ngModel)]="rutina.observaciones" placeholder="Añada una observación...">
        <label for="ejercicios">Ejercicios:</label>
        <div>
          <button type="button" class="col-auto btn btn-outline-success" (click)="aniadirEjercicio()"><i class="bi bi-plus"></i></button>
        </div>
        <div class="table-container">
        <table class="tablaEjercicios table table-bordered table-hover table table-striped"  style="border-radius: 10px; text-align: center;">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>  
              <th>Músculos</th>
              <th>Dificultad</th>  
              <th>Series x Repeticiones</th>
              <th>Duracion</th>
              <th>Editar / Eliminar</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ejercicioDetalles of ejerciciosRutina">
              <td>{{ejercicioDetalles?.ejercicio?.nombre}}</td>
              <td>{{ejercicioDetalles?.ejercicio?.tipo}}</td>
              <td>{{ejercicioDetalles?.ejercicio?.musculosTrabajados}}</td>
              <td>{{ejercicioDetalles?.ejercicio?.dificultad}}</td>
              <td>{{ejercicioDetalles.series || '0'}} x {{ejercicioDetalles.repeticiones || '0'}}</td>
              <td>{{ejercicioDetalles.duracionMinutos}}</td>
              <td class="acciones">
                <button type="button" class="col-auto btn btn-outline-primary" (click)="editarEjercicio(rutina.id, ejercicioDetalles)"><i class="bi bi-pencil-fill"></i></button>
                <button type="button" class="col-auto btn btn-outline-danger" (click)="eliminarEjercicio(ejercicioDetalles.ejercicio.id)"><i class="bi bi-trash-fill"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarRutina()">Guardar</button>
  </div>
